.text-h4{
    font-size: 22px;
    line-height: 140%;
}
.span-tags{
    background: rgba(129, 195, 65, 0.2);
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: #295700;
    padding: 2.5px 8px;
}
.Checkbox-media{
    position: relative;
    height: 15px;
    width: 15px;
    flex-shrink: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.Checkbox-media:checked:before {
    --tw-border-opacity: 1;
    border-color: #1D1D1D;
    content: '';
    --tw-bg-opacity: 1;
    background-color: transparent;
}
.Checkbox-media:before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: #ABABAB;
    content: '';
    transition-duration: .15s;
}
.Checkbox-media:checked:after{
    /* content: '\250C'; */
    content: '';
    border-color: #1D1D1D;
}
.Checkbox-media:after {
    position: absolute;
    left: 5px;
    top: 0.5px;
    height: 11px;
    width: 6px;
    --tw-rotate: 40deg;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: transparent;
    transition-duration: .15s;
    transform: rotate(34deg);
    border-radius: 2px;
}

@media (min-width: 768px){
    .md\:grid-cols-cart-grid-2 {
        grid-template-columns: calc(100% - 260px - 2.5rem) 260px;
    }
}